/* 
 PORTFOLIO THEME
 ===============
 Created By : Ankur Mishra.
 Theme Created on : June 2012.
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
@font-face {
	font-family: 'eurostile';
	src: url(//:) format("no404"),
	url("fonts/eurostile.woff") format("woff"), 
	url("fonts/eurostile.ttf") format('truetype'),
	url("fonts/eurostile.svg") format('svg'),
	url("fonts/eurostile.eot") format('eot')
}
body{
background-image:url('images/body.png');
}
#wrapper{
height:auto;
width:960px;
margin-left:auto;
margin-right:auto;
}
.horline1{
height:10px;
width:100%;
background-color:rgb(41,46,51);
}
.horline2{
margin:50px 20px 0px 20px;
height:10px;
width:920;
background-color:rgb(41,46,51);
margin-top:85px;

}
.hordesign{
height:6px;
width:100%;
background-image:url('images/horizontal_design.png');
background-repeat:repeat-x;
/*margin-top:6px;*/
}
.navbar{
padding-top:75px;
width:100%;
height:18px;
}
ul{
list-style-type:none;
margin:0;
padding:0;
overflow:hidden;
}
li{
float:right;
}
a.aboutlink:link,a.aboutlink:active,a.aboutlink:visited,a.aboutlink:hover,a.navlinks:link,a.navlinks:active,a.navlinks:visited,a.navlinks:hover{
display:block;
height:18px;
width:auto;
color:#565759;
text-align:center;
font-size:16px;
padding:0px 22px 0px 22px;
text-decoration:none;
font-family:eurostile;
}
a.middle:link,a.middle:active,a.middle:visited,a.middle:hover{
border-left:3px solid #565759;
}
.header{
top:0px;
padding-top:10px;
padding-bottom:10px;
margin-bottom:10px;
width:960px;
position:fixed;
background-image:url('images/body.png');
z-index:100;
}
.logo{
float:left;
margin-right:45px;
width:250px;
height:100px;
}
.hello{
float:left;
width:640px;
margin:12px 0px 7px 0px;
font-family:eurostile;
font-size:36px;
color:#122c44;
}
.hellotext{
float:left;
width:640px;
font-family:eurostile;
font-size:18px;
color:#122c44;
}
.thinhorline1,.thinhorline2{
height:1px;
width:100%;
background-color:rgb(41,46,51);
}
.thinhorline1{
margin-bottom:3px;
}
.aboutpage{
width:100%;
height:600px;
margin-top:120px;
margin-bottom:10px;
overflow:hidden;
}
.snap1,.snap{
position:relative;
float:left;
height:600px;
background-color:white;
overflow:hidden;
}
.snap1{
left:970px;
top:-600px;
width:550px;
}
.snap{
width:550px;
}
.about1,.about{
position:relative;
float:right;
height:600px;
background-image:url('images/aboutback.png');
overflow:hidden;
}
.about1{
left:970px;
top:-600px;
width:400px;
}
.about{
width:400px;
}
.recentworkheading,.aboutheading,.abouttext,.expertise{
float:left;
width:320px;
font-family:eurostile;
}
.aboutheading{
font-size:48px;
margin:22px 0px 47px 35px;
color:#e1e1e1;
line-height:40px;
}
.recentworkheading{
font-size:45px;
margin:30px 0px 20px 20px;
color:#122c44;
}

.abouttext{
font-size:18px;
margin:0px 0px 24px 40px;
color:#101a24;
line-height:20px;
}
.expertise{
font-size:24px;
margin:15px 0px 0px 40px;
color:#101a24;
line-height:22px;
}
.expertisebox{
float:left;
width:79px;
height:94px;
margin:19px 0px 0px 40px;
padding:10px 0px 0px 0px;
}
.expertisebar{
float:left;
width:160px;
height:112px;
margin:20px 0px 0px 8px;
border-left:2px solid #e1e1e1;
padding-top:4px;
}
.handson{
font-size:18px;
font-family:eurostile;
text-align:right;
margin-bottom:2px;
color:#101a24;
}
.bar1,.bar2,.bar3,.bar4, .bar5{
float:left;
height:12px;
background-color:#e1e1e1;
margin-top:8px;
}
.bar1{
width:160px;
}
.bar2{
width:100px;
}
.bar3{
width:120px;
}
.bar4{
width:120px;
}
.bar5{
	width:100px;
}
.aboutdetail{
position:absolute;
background-image:url('images/aboutdetails.png');
height:45px;
width:45px;
top:521px;
left:325px;
cursor:pointer;
}
.aboutdetail1{
position:absolute;
background-image:url('images/backdetails.png');
height:45px;
width:45px;
top:521px;
left:325px;
cursor:pointer;
}
.recent_work{
width:100%;
height:709px;
background-color:white;
border-top:1px solid rgb(41,46,51);
overflow:hidden;
}
.work{
float:left;
height:259px;
width:280px;
margin:47px 20px 0px;
border-bottom:1px solid rgb(41,46,51);
text-align:center;
cursor: pointer;
}
/*.work:hover{
background-image:url('images/workgradient.png');
}*/
.workImage{
	width:280px;
	height:210px;
}
.worktext{
padding-top:20px;
font-family:eurostile;
font-size:18px;
color:#122c44;
}
.gradient{
width:280px;
height:46px;
}

.getin_touch{
margin-top:10px;
width:100%;
height:373px;
background-image:url('images/touchbackground.png');
border-top:1px solid rgb(41,46,51);
border-bottom:1px solid rgb(41,46,51);
}
.manishsays{
float:right;
margin:22px 35px 0px 0px;
}
.touchtext{
float:left;
width:460px;
height:190px;
margin-left:20px;
padding-top:50px;
}
.contacttext{
width:438px;
margin-bottom:20px;
font-family:eurostile;
font-size:18px;
line-height:20px;
color:#122c44;
}
.connect{
width:323px;
margin:10px 0px 0px 58px;
}
.contactimg{
margin-right:15px;
}
.line{
float:left;
margin-top:40px;
background-color:rgb(41,46,51);
height:192px;
width:1px;
}
#jstwitter{
float:left;
width:275px;
margin:60px 0px 0px 30px;
font-family: eurostile;
font-size: 18px;
line-height: 20px;
color: #122c44;
}
#jstwitter .tweet {
	margin: 0 auto 15px auto;
	padding: 0 0 15px 0;
	font-family:eurostile;
	font-size:18px;
}

#jstwitter .tweet a {
	text-decoration: none;
	color: #7d7d7d;
}

#jstwitter .tweet a:hover {
	text-decoration: underline;
}

#jstwitter .tweet .time {
	font-size: 10px;
	font-style: italic;
	color: #7d7d7d;
}

.sidenav{
position:fixed;
top:35%;
right:0px;
width:150px;
height:248px;
}
.sidelinks{
height:52px;
width:150px;
margin-bottom:10px;
overflow:hidden;
}
.link{
float:right;
height:42px;
width:17px;
border-top-left-radius:10px;
border-bottom-left-radius:10px;
background-color:#122c44;
font-family:eurostile;
font-size:30px;
text-align:center;
font-weight:bold;
padding-top:10px;
overflow:hidden;
cursor:pointer;
}

.link p{
	display:block;
	height:23px;
	width:auto;
	color:#ffffff;
	text-align:center;
	font-size:22px;
	padding:5px 24px 0px 24px;
	text-decoration:none;
	font-family:eurostile;
}

.bar{
width:17px;
height:52px;
float:right;
border-top-left-radius:10px;
border-bottom-left-radius:10px;
background-color:#7d7d7d;
}
a.sidenavlink:link,a.sidenavlink:active,a.sidenavlink:visited,a.sidenavlink:hover{
color:#e1e1e1;
text-decoration:none;
}
a.fb:link,a.fb:visited,a.twtr:link,a.twtr:visited,a.in:link,a.in:visited,a.msg:link,a.msg:visited{
display:block;
width:61px;
height:61px;
margin-right:15px;
}
a.fb:link,a.fb:visited{
background:url('images/fb.png') 0 0;
}
a.fb:hover,a.fb:active{
background:url('images/fb.png') -61px 0;
}
a.twtr:link,a.twtr:visited{
background:url('images/twtr.png') 0 0;
}
a.twtr:hover,a.twtr:active{
background:url('images/twtr.png')-61px 0;
}
a.msg:link,a.msg:visited{
background:url('images/msg.png') 0 0;
}
a.msg:hover,a.msg:active{
background:url('images/msg.png') -61px 0;
}
a.in:link,a.in:visited{
background:url('images/in.png') 0 0;
}
a.in:hover,a.in:active{
background:url('images/in.png') -61px 0;
}
.proj_desc {
	background-image:url('images/body.png');
}
.proj_desc #content {
	width:960px;
	height:0px;
	overflow:hidden;
}
.proj_desc #content #left {
	margin-left:90px;
	margin-top:10px;
	width:302px;
	height:660px;
	float:left;
}
.proj_desc #content #right {
	margin-left:135px;
	margin-top:50px;
	width:430px;
	height:660px;
	float:right;
}
.proj_desc #content #slideshow {
	background: url('images/iphone_bg.png') no-repeat;
	width:302px;
	height:592px;
}

#slideshow img {
	margin-left:24px;
	margin-top:103px;	
	width:254px;
	height:381px;
}

#right #title p{
	font-size:24px;
	color:#101a24;
	line-height:40px;
	font-family:eurostile;
}
#right #line {
	margin-top:15px;
	background: #101a24;
	width:400px;
	height:8px;
}
#right #details p{
	font-size:18px;
	line-height:24px;
	color:#101a24;
	margin-top:30px;
	font-family:eurostile;
}

#image_selectors {
	margin-top:10px;
	height:auto;
	width:120px;
	margin-left:auto;
	margin-right:auto;
	overflow:hidden;
}
.picker {
	background: #101a24;
	width:20px;
	height:20px;
	margin-left:10px;
	margin-right:10px;
	float:left;
	cursor:pointer;
}
div.active {
	background: #7d7d7d;
}
#cross{
	background: url('images/cross.png') 0 3px;
	float:right;
	top:0px;
	width:61px;
	height:61px;
	cursor:pointer;
}

#cross:hover{
	background: url('images/cross.png') -61px 3px;
}

#appStore{
	width:149px;
	height:56px;
	margin-top:20px;
}

#copyright{
	float:right;
	padding-top:10px;
	padding-bottom:10px;
}
#copyright p{
	font-size:12px;
	line-height:14px;
	color:#101a24;
	font-family:eurostile;
}

